*{
    box-sizing: border-box;
}

@font-face {
    font-family: roboto-regular;
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(Roboto-Bold.ttf);
}
@font-face {
    font-family: inter-bold;
    src: url(Inter-Bold.ttf);
}

.a1{
    font-weight: 600;
    font-size: 16px;
    color: #111111;
    font-family: roboto-regular;
    text-decoration: none;
}
.div1{
    background: #E9E9E9;
    border-radius: 24px;
    position: relative;
}
.input_1{
    height: 48px;
    background: #E9E9E9;
    border: none;
    border-radius: 24px;
    outline: none;
    padding-left: 40px;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    font-family: roboto-regular;
    margin-left: -20px;
}
.fa-search{
    position: absolute;
}
.photos{
    position: relative;
}
.photo_d{
    position: absolute;
    margin-left: -60px;
    margin-top: 500px;
}
.button_save{
    height: 48px;
    width: 68.39px;
    background: #e60023;
    border: none;
    border-radius: 24px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    font-family: roboto-regular;
}

.div_border{
    height: 902px;
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 0px 32px 32px 0px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
}
.p_1{
    font-weight: 700;
    font-size: 12px;
    color: #444444;
    font-family: roboto-bold;
    margin-bottom: 0px;
}
.pic_1{
    border-radius: 30px;
}
.texts{
    margin-top: 10px;
    margin-left: 5px;
    line-height: 5px;
}
.p_adam{
    font-weight: 600;
    font-size: 14px;
    color: #111111;
    font-family: roboto-regular;
}
.p_followers{
    font-weight: 400;
    font-size: 14px;
    color: #111111;
    font-family: roboto-regular;
}
.button_follow{
    width: 80.77px;
    height: 48px;
    border: none;
    background: #EFEFEF;
    border-radius: 24px;
    font-weight: 600;
    font-size: 16px;
    color: #111111;
    font-family: roboto-regular;
}
.p_comments{
    font-weight: 600;
    font-size: 20px;
    color: #111111;
    font-family: regular;
}
.p_conversation{
    font-weight: 400;
    font-size: 16px;
    color: #5F5F5F;
    font-family: roboto-regular;
}
.line{
    margin-top: 122px;
    width: 100%;
    border-top: 1px solid #EFEFEF;
}
.line{
    margin-top: 120px;
    border: 1px solid #EFEFEF;
    border-radius: 0px 0px 32px 32px;
}
.div_9{
    margin-top: 25px;
}

.circle_R{
    width: 48px;
    height: 48px;
    background: #E9E9E9;
    border-radius: 24px;
    font-weight: 700;
    font-size: 19.2px;
    color: #211922;
    font-family: inter-bold;

}
.inputs{
    position: relative;
}
.input_2{
    width: 340px;
    height: 52px;
    border: none;
    outline: none;
    background: #E9E9E9;
    border-radius: 24px;
    padding-left: 17px;
    font-weight: 400;
    font-size: 16px;
    color: #767676;
    font-family: roboto-regular;

}
.smile{
    position: absolute;
    top: 11px;
    right: 16px;
}

.div7{
    width: 56px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
}

.images{
    position: relative;
    margin-top: 249px;
    margin-bottom: 500px;
}
.img1{
    border-radius: 16px;
}
.icons{
    position: absolute;
}
.icon_1{
    position: absolute;
    margin-left: -110px;
    margin-top: 8px;
}
.icon_2{
    position: absolute;
    margin-top: 8px;
    margin-left: -353px;
}
.icon_3{
    position: absolute;
    margin-top: 8px;
    margin-left: 136px;
}
.time{
    width: 32.28px;
    height: 24px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 18px;
    font-weight: 600;
    font-size: 10px;
    color: #111111;
    position: absolute;
    margin-top: 8px;
    margin-left: 793px;

}

